@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

h1{
    font-size: 20px;
}

h2{
    font-size: 15px;
}

p{
    color: #fff !important;
}

body {
font-family: "Open Sans", serif;
}

.wrapper {
background: linear-gradient(to right, #d3d3d3, #fff);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.main {
height: 90vh;
background: #2b2b2b;
box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
width: 80%;
margin: 0 auto;
}


.title-container {
background: url("img/ffffff.png") center center no-repeat;
height: 90vh;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #000;
}

.title-container__title {
font-size: 50px;
letter-spacing: 2px;
}

.title-container__subtitle {
font-style: italic;
font-weight: 100;
letter-spacing: 1px;
}

.form-container {
background-color: #2c3e50;
height: 90vh;
padding-top: 100px;
padding-left: 50px;

}

input[type="text"] {
background-color: transparent;
border: 0;
border-bottom: solid 1px #ffcc00;
width: 30%;
padding-bottom: 4px;
color: #fff !important;
letter-spacing: 2px;
margin-bottom: 30px;
margin-right: 20px;
font-size: 20px;
}

input[type="text"] { 
outline: none;
}

input:-webkit-autofill {
-webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
-webkit-text-fill-color: #fff !important;
}

button {
border: 0;
padding: 8px 20px;
margin: 0 2px;
border-radius: 2px;
font-weight: lighter;
letter-spacing: 1px;
font-size: 15px;
cursor: pointer;
background-color: #e67e22;
color: #fff;
font-weight: 200;
 
}

button:active {
outline: none;
}

.weather__info {
width: 60%;
font-size: 20px;
font-weight: 200;
letter-spacing: 2px;
}

.weather__key {
color: #f16051;
border-bottom: solid 2px rgba(255,255,255,0.06);
padding: 20px 0 20px 0;
font-weight: 400;
}

.weather__key:last-child {
border: 0;
}

.weather__value {
color: #fff;
font-weight: 200;
}

.weather__error {
color: #f16051;
font-size: 20px;
letter-spacing: 1px;
font-weight: 200;
}